# Ignore compiled object files and executables
*.o
*.obj
*.so
*.a
*.exe
*.out
*.elf

# Ignore dependency files
*.d

# Ignore generated compile commands
compile_commands.json

# Ignore build directories
limine/
bin/
obj/

# Ignore temporary files created by editors
*~
*.swp
*.swo

# Ignore cache directory
.cache/
